body {
    margin: 0;
    padding: 0;
}
svg{
    margin-right: 1rem;
    margin-top:1rem ;
}
.navbar {
    width: 100%;
    height: 70px;
    background-color: black;
    justify-content: flex-end;
    display: flex;
    position: fixed;
    top: 0;    align-items: center;
}

/* .links{
    text-decoration: none;
    color: white;
    margin-left: 20px;
    font-size: 25px;
} */
.links  a{

    text-decoration: none;
    color: white;
    margin-left: 4px;
    margin-top: 10px;
 
    font-size: 25px;
}

.scroll-to-top-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
  }